In [1]:
import pandas as pd

In [9]:
df = pd.read_excel('incstmt-0.xlsx') # initialize a dataframe with all 0s, using the supplied .xlsx
divisions = ['diva', 'divb']
for i in divisions:
    file = 'incstmt-{0}.xlsx'.format(str(i)[:7] + str(i)[7:]) 
    df_div = pd.read_excel(file) 
    df+=df_div
df.drop(["Description"],axis=1,inplace=True) 
df.drop([0],inplace=True)
df["CODE"]=df_div["CODE"]
df.set_index('CODE',inplace=True)

In [10]:
df

      Act2018  Act2019  Proj2020
CODE
SALE     77.6     75.3      86.2
CGS      32.5     33.5      34.4
PROF     45.1     41.8      51.8
SGA       3.9      3.6       4.5
ADV       2.4      2.4       2.8
DEP       4.7      4.7       5.5
RENT      3.2      2.7       2.2
OTHX      5.1      5.3       5.6
EXP      19.3     18.7      20.6
EBT      25.8     23.1      31.2